
#landing-container {
    background: url('/images/landing.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    /*margin-right: 50%;*/
}

/*.navbar {
    color: #E80206;
}*/

#logo {
    width: 200px;
    height: 60px;
    margin-right: 20px;
}

a {
    color: #E80206;
}

/*.page-footer {
    background-color: #ffff;
}

#copyright {
    background-color: blue;
    color: white;
}*/

/*#copyright > a{
    color: white !important;
}*/

a.nav-link {
    cursor: pointer;
}


.loginCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 7%;
    height: 70%;
}

.hide {
    display: none;
}

/*nav*/
@media (max-width: 62em) {
    .navbar-nav {
        padding-top: .425rem;
        padding-left: 0.75rem;
    }
    .navbar-nav .nav-item {
        float: none;
    }
    .navbar-brand {
        float: right;
    }
    .navbar-brand,
    .navbar-nav .nav-item {
        display: block;
    }
    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }
    .dropdown-menu {
        position: relative;
        float: none;
    }
}


/*home*/
.container-fluid {
    width: 100%;
    display: flex;
}

/*.text {
    position: relative;
    display: -ms-flexbox;
    display: flex;
}*/

.white-text {
    color: white;
    z-index: 2;
}

#header {
    background-image: url('/images/brunch.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 16rem;
    margin-top: 3rem;
}

#header-text {
   background-color: rgba(0,0,0,0.4);
   background-size: cover;
   display: flex;
   justify-content: flex-start;
   height: 16rem;
}

.special-font {
    font-size: 38px;
    font-size: 2.375rem;
}

